<h1>WELCOME TO THE DICTIONARY!</h1>
<form method="POST" action="/translation" class="form-inline">
  <div class="form-group">
    <!-- <label for="exampleInputName2">Search term</label> -->
    <input type="text" name="word" placeholder="the word here">
  </div>

  <button type="submit" class="btn btn-primary">let's search!</button>
</form>

